<div class="container">
    <div class="row">
        <div class="col">
            <ul class="list-group">
                {{#each burger}}
                {{#unless devoured}}
                <li class="list-group-item data-id=" {{id}}" data-devour="{{devoured}}"">
                    {{burger_name}}<button type=" button" class="btn btn-secondary float-right devour-burger">
                    devour
                    </button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col">
            <ul class="list-group">
                {{#each burger}}
                {{#unless devoured}}
                <li class="list-group-item">
                    {{burger_name}}
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <form class="input-group mb-3 w-50 p-3 mx-auto">
            <textarea class="form-control" id="new-burger" rows="3"></textarea>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="new-burger-btn">Button</button>
            </div>
    </div>
    </form>
</div>